@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900");

:root {
  font: 16px / 1.3 "Montserrat", sans-serif;
  color: #555;
  background: #fefefe;
  font-weight: 700;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: var(--link-color);
}
